*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    }
    
    html,body {
    width: 100%;
    height: 100%;
    font-family: satoshi;
    }

    @font-face {
        font-family: satoshi;
        src: url(../fonts/Satoshi-Regular.woff);
    }

    
    :root {
        --text-color-primary: #0A0A0A;
        --background-color-primary: #00452E;
        --background-color-secondary: #00E599;
    }

    button {
        width: fit-content;
        font-size: 16px;
        line-height: 24.8px;
        font-weight: 700;
        border: 1px solid #DFE1E6;
        border-radius: 14px;
        padding: 12px 16px;
        background-color: transparent;
    }

    
    button:hover {
        cursor: pointer;
    }
    
    .green-button {
        width: fit-content;
        font-size: 16px;
        line-height: 24.8px;
        font-weight: 700;
        border: 1px solid #DFE1E6;
        border-radius: 14px;
        padding: 12px 16px;
        border: none;
        background-color: var(--background-color-secondary);
    }
    
    .page-name{
        font-size: 14px;
        line-height: 21.7px;
        font-weight: 600;
        color: #00895C;
    }
    
    .main-title {
        font-size: 68px;
        line-height: 85px;
        font-weight: 700;
        letter-spacing: -2%;
    }
    
    .title {
        font-size: 52px;
        line-height: 65px;
        font-weight: 700;
        letter-spacing: -2%;
    }

    .sub-title {
        font-size: 18px;
        line-height: 27.9px;
        font-weight: 400;
        color: #FFFFFF;
        opacity: 60%;
    }
    
    .heading {
        font-size: 18px;
        line-height: 27.9px;
        font-weight: 700;
    }
    
    .description {
        font-size: 16px;
        line-height: 25.6px;
        font-weight: 400;
        color: #737373;
    }

    .answer h5 {
        color: rgba(82, 82, 82, 1);
    }