    .hero-section {
        background-color: var(--background-color-primary);
    }

    .main-nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px 120px;
    }
    
    .nav-box {
        width: 100%;
        border: 1px solid #F5F5F5;
        border-radius: 15px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 24px;
        position: relative;
    }
    
    .nav-section {
        width: 25%;
        display: flex;
        align-items: center;
    }
    
    .nav-left {
        gap: 8px;
    }

    .nav-center{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }
    
    .nav-center .nav-elem {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 8px;
    }

    .nav-center .nav-elem a {
        font-size: 14px;
        line-height: 21.7px;
        font-weight: 600;
    }

    .nav-center .nav-elem a:hover {
        cursor: pointer;
    }
    
    .nav-right {
        justify-content: right;
        gap: 12px;
    }
    
    .nav-right button {
        padding: 12px 16px;
        border: 1px solid #DFE1E6;
        border-radius: 12px;
        background-color: transparent;
        font-size: 14px;
        line-height: 21.7px;
        font-weight: 700;
    }
    
    .nav-right svg {
        display: none;
    }
    
    .nav-right .btn-2 {
        background-color: var(--background-color-secondary);
    }

    .hamburger-svg {
        display: none;
    }

    .hero-box {
        padding: 40px 120px;
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    .hero-badge {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    
    .hero-badge h5 {
        color: #FFFFFF;
    }

    .hero-lower {
        display: flex;
        gap: 32px;
    }

    .hero-lower-left img {
        width: 72px;
        height: 72px;
        object-fit: contain;
    }

    .hero-lower-right {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .hero-box h1 {
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;
    }

    .hero-lower-right .description {
        color: #FFFFFF;
    }

    .hero-tags {
        display: flex;
        gap: 8px;
    }

    .hero-tag {
        padding: 4px 12px;
        border-radius: 8px;
        background-color: rgba(255,255,255,0.1);
        border: 1px solid rgba(255,255,255,0.12);
    }

    .hero-tag h5 {
        color: #FFFFFF;
        font-weight: 500;
    }


    /* CONTENT SECTION  */
    .content-section {
        padding: 120px;
        display: flex;
        gap: 80px;
    }

    .content-left {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .content-left .support-item {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .content-left h3 {
        font-weight: 500;
    }

    .content-left h5 {
        font-size: 16px;
        line-height: 25.6px;
        font-weight: 500;
        color: #00895C;
    }

    .content-right {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .content-right .paragraph {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .content-right .paragraph h3 {
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
    }


    /* CTA SECTION  */
    .CTA-section {
        width: 100%;
        padding: 24px 80px;
    }
    
    .CTA-box{ 
        width: 100%;
        background-color: var(--background-color-primary);
        padding: 96px 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        border-radius: 24px;
    }
    
    .cta-title {
        color: #FFFFFF;
        text-align: center;
    }
    
    .cta-title-mobile {
        display: none;
    }
    
    .cta-sub-title h5 {
        text-align: center;
        color: #FFFFFF;
        opacity: 0.75;
    }
    
    .cta-sub-title-mobile {
        display: none;
    }
    
    .cta-buttons {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    
    .cta-buttons .btn-2 {
        color: #FFFFFF;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
    }
    
    
    /* FOOTER SECTION  */
    .footer {
        width: 100%;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 56px;
        padding: 56px 80px;
    }
    
    .ftr-upper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .ftr-upper-left, .ftr-upper-right {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    
    .ftr-lower {
        width: 100%;
    }
    
    .ftr-lower .ftr-container {
        display: flex;
        justify-content: space-between;
    }
    
    .ftr-container .heading h5, .ftr-col .link a {
        font-size: 18px;
        line-height: 27.9px;
        font-weight: 600;
    }
    
    .ftr-col {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .ftr-col .link a {
        text-decoration: none;
        font-weight: 400;
        color: #737373;
    }
    
    .ftr-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .ftr-footer h5 {
        font-size: 16px;
        line-height: 25.6px;
        font-weight: 400;
        color: #525252;
    }

    .footer-svg-mobile {
        display: none;
    }
    
    .ftr-footer-right {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 10px;
        background-color: #FAFAFA;
        border: 1px solid #F5F5F5;
        border-radius: 10px;
    }
    
    .ftr-footer-right-left {
        display: flex;
        align-items: center;
        gap: 8px;
    }




    /* RESPONSIVE  */
    @media (max-width: 600px) {
        .main-nav {
            padding: 20px 24px;
            color: #FFFFFF;
        }
        
        .nav-box {
            border: none;
            background-color: transparent;
        }
        .nav-left svg path {
            fill: #FFFFFF;
        }
        
        .nav-center {
            display: none;
        }
        
        .nav-right {
            display: none;
        }
        
        .hamburger-svg {
            display: block;
        }
        
        .hero-box {
            display: flex;
            flex-direction: column;
            padding: 24px;
            gap: 32px;
        }

        .hero-lower {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }


        /* CONTENT SECTION  */
        .content-section {
            padding: 40px 24px;
            display: flex;
            gap: 80px;
        }
    
        .content-left {
            display: none;
        }
    
        .content-left .support-item {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    
        .content-left h3 {
            font-weight: 500;
        }
    
        .content-left h5 {
            font-size: 16px;
            line-height: 25.6px;
            font-weight: 500;
            color: #00895C;
        }
    
        .content-right {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    
        .content-right .paragraph {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    
        .content-right .paragraph h3 {
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
        }


        /* CTA SECTION  */
        .CTA-section {
            padding: 24px;
        }
        
        .CTA-box{ 
            gap: 40px;
            padding: 40px 16px;
        }
    
        .cta-title-desktop {
            display: none;
        }
    
        .cta-title-mobile {
            display: block;
        }
    
        .cta-sub-title-desktop {
           display: none;
        }
    
        .cta-sub-title-mobile {
            display: block;
         }
        
        .cta-buttons {
            width: 100%;
            flex-direction: column;
        }

        .cta-buttons button {
            width: 100%;
        }
    
    
        /* FOOTER SECTION  */
        .footer {
            width: 100%;
            background-color: #FFFFFF;
            gap: 32px;
            padding: 40px 16px;
        }
        
        .ftr-upper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 24px;
        }
        
        .ftr-upper-left, .ftr-upper-right {
            display: flex;
            align-items: center;
            gap: 8px;
        }
        
        .ftr-lower {
            width: 100%;
        }
        
        .ftr-lower .ftr-container {
            display: flex;
            gap: 24px;
            flex-wrap: wrap;
        }
        
        .ftr-container .heading h5, .ftr-col .link a {
            font-size: 18px;
            line-height: 27.9px;
            font-weight: 600;
        }
        
        .ftr-col {
            width: 46%;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        
        .ftr-col .link a {
            text-decoration: none;
            font-weight: 400;
            color: #737373;
        }

        .footer-svg-desktop {
            display: none;
        }

        .footer-svg-mobile {
            display: block;
        }
        
        .ftr-footer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
        
        .ftr-footer h5 {
            font-size: 16px;
            line-height: 25.6px;
            font-weight: 400;
            color: #525252;
        }
        
        .ftr-footer-right {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;
            padding: 8px 10px;
            background-color: #FAFAFA;
            border: 1px solid #F5F5F5;
            border-radius: 10px;
        }
    }